{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="'width=device-width, initial-scale=1.0">
        <title>netsocial - Welcome</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div class="buttons">
                    <a href="{% url 'login' %}" class="btn">Login</a>
                    <a href="{% url 'register' %}" class="btn">Register</a>
                </div>
            </div>
        </nav>
        <div class="title-container">
            <h1 class="title">Netsocial</h1>
        </div>
        <div class="user-list">
            <h2>All Users</h2>
            <ul>
                {% for user in users %}
                    <li><a href="{% url 'profile' username=user.username %}"> {{ user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>