{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="'width=device-width, initial-scale=1.0">
        <title>User Profile</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <h2>User Profile</h2>
            <p><strong>Name:</strong> {{user.username}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Bio:</strong> {{user.profile.bio}}</p>
            <p><strong>Birthday:</strong>{{user.profile.birthday}}</p>
            
            {% if user == request.user %}
                <a href="{% url 'edit_profile' %}" class="btn">Edit Profile</a>
                <a href="{% url 'view_friend_requests' %}" class="btn">View Friend Requests</a>
            {% endif %}

        </div>
    </body>
</html>