<!DOCTYPE html>
<html>
    <head>
        <title>User Registration</title>
        <link rel="stylesheet" href="../../static/css/register.css">
    </head>
    <body>
        <div class="outer-container">
            <form method="POST" style="border: 1px solid #ccc">
            {% csrf_token %}
              <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr />
      
                <label for="username"><b>Username</b></label>
                <input
                  type="text"
                  placeholder="Enter Username"
                  name="username"
                  required
                />
                {{form.username.errors}}
      
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required />
                {{form.email.errors}}
      
                <label for="password1"><b>Password</b></label>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="password1"
                  required
                />
                {{form.password1.errors}}
      
                <label for="password2"><b>Confirm Password</b></label>
                <input
                  type="password"
                  placeholder="Confirm Password"
                  name="password2"
                  required
                />
                {{form.password2.errors}}
      
                <div class="clearfix">
                  <a href="{% url 'home' %}" class="cancelbtn">Cancel</a>
                  <button type="submit" class="signupbtn">Sign Up</button>
                </div>
              </div>
              
            </form>
          </div>
        <!-- <h2>User Registration</h2>
        <form method="POST">
            {% csrf_token %}
            {{form.username.label_tag}} {{form.username}}
            {{form.username.errors}}

            {{form.email.label_tag}} {{form.email}}
            {{form.email.errors}}

            {{form.password1.label_tag}} {{form.password1}}
            {{form.password1.errors}}

            {{form.password2.label_tag}} {{form.password2}}
            {{form.password2.errors}}
            
            <button type="submit">Register</button>
        </form> -->
    </body>
</html>
