{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Requests</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Friend Requests</h2>
        <ul>
            <a href="{% url 'profile' %}" class="btn">My Profile</a>
            {% for request in friend_requests %}
                <li>
                    {{ request.sender.username }}
                    <a href="{% url 'accept_friend_request' request.id %}" class="btn">Accept</a>
                    <a href="{% url 'reject_friend_request' request.id %}" class="btn">Reject</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
