<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>friend_request</title>
    <link rel="stylesheet" href="./friend_request.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="active" href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'home' %}">Friends</a></li>
        <li><a href="{% url 'chat' %}">Chat</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
      </ul>
    </nav>

    <div>
      <div class="friend_request-container">
        <h1>Alvin</h1>
        <div class="accept-reject">
          <button>Accept</button>
          <button>Reject</button>
        </div>
      </div>

      <div class="friend_request-container">
        <h1>Alvin</h1>
        <div class="accept-reject">
          <button>Accept</button>
          <button>Reject</button>
        </div>
      </div>
    </div>
  </body>
</html>
