<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>netsocial - Welcome</title>
    <link rel="stylesheet" href="./homepage.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="active" href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      </ul>
    </nav>
    <div class="outer-container">
      <h1 class="title">NetSocial</h1>
      <div class="grid-container">
        <div class="card">
          <img
            src="https://i.pinimg.com/736x/a8/57/00/a85700f3c614f6313750b9d8196c08f5.jpg"
            alt="profile-picture"
            style="width: 100%"
          />
          <div class="container">
            <h3><b>John Doe</b></h3>
          </div>
        </div>

        <div class="card">
          <img
            src="https://i.pinimg.com/736x/a8/57/00/a85700f3c614f6313750b9d8196c08f5.jpg"
            alt="profile-picture"
            style="width: 100%"
          />
          <div class="container">
            <h3><b>John Doe</b></h3>
          </div>
        </div>

        <div class="card">
          <img
            src="https://i.pinimg.com/736x/a8/57/00/a85700f3c614f6313750b9d8196c08f5.jpg"
            alt="profile-picture"
            style="width: 100%"
          />
          <div class="container">
            <h3><b>John Doe</b></h3>
          </div>
        </div>
        <div class="card">
          <img
            src="https://i.pinimg.com/736x/a8/57/00/a85700f3c614f6313750b9d8196c08f5.jpg"
            alt="profile-picture"
            style="width: 100%"
          />
          <div class="container">
            <h3><b>John Doe</b></h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
